


.success_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}




.success_wrap img {
  object-fit: contain;
  width: 25vw;
}
