



.no_comment_wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}






.comment_title_wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}



.each_title {
  display: flex;
  margin-left: 20px;
}


.each_question {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.no_comment_message {
  padding: 2%;
}



.each_comment_text {
  display: flex;
}



.each_comment_text b{
  padding: 2vw;
}



.each_comment_buttons_wrap {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-radius: 10px;
  background: cornflowerblue;
  border: solid white .1px;
  border-radius: 15px;
  position: relative;
  align-content: center;
  justify-content: flex-start;
  width: 135px;
  margin-left: 10vw;
  margin-bottom: 50px;
}



.each_comment_delete_button {
  display: flex;
  position: relative;
  width: 60px;
  justify-content: center;
  padding: 1%;
}


.each_comment_update_button {
  display: flex;
  position: relative;
  width: 60px;
  justify-content: center;
  padding: 1%;
}




.comment_form_input_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}




.comment_form_containter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}




.comment_add_button {
  padding: 2%;
}


.comment_update_button {
  padding: 2%;
}
