




.user_info_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}




.user_info_wrap img {
  object-fit: contain;
  width: 10vw;
}
