

.bookpage_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}



.book_create_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15px;
}



.book_create_button {
  display: flex;
  box-sizing: border-box;
  padding: 1%;
  justify-content: center;
}




.book_link_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}




.each_book_link {
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
}




.delete_update_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-around;
  padding: 10px;
}




.delete_button {
  box-sizing: border-box;
  padding: 10px;
  background-color: red;
}




.update_button {
  box-sizing: border-box;
  padding: 10px;
  background-color: blue;
}
