

.login_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}




.login_containter {
  padding: 1%;
}


.the_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}



.enter_button {
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.enter_button button {
  display: flex;
}


.demo_button {
  margin-left: -9vw;
}
