









.errors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  padding: 1%;
  right: 40%;
  top: 300px;
  border: solid black 1px;
  border-radius: 10px;
}
