


.search_wrapper {
  position: absolute;
  margin-top: 15px;
  background-color: brown;
  z-index: 1;
}



.search_input {
  position: relative;
  right: 1%;
}






.errors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  padding: 1%;
  right: 58%;
  top: 100px;
  border: solid black 1px;
  border-radius: 10px;
}
