




.user_info_wrap {
  display: flex;
  position: relative;
  flex-flow: wrap;
  flex-direction: column;
}







.user_avatar {
  position: relative;
  display: flex;
  width: 20%;
}



.user_avatar img {
  display: flex;
  position: relative;
}




.user_text {
  position: relative;
}



.user_text li {
  color: white;
}




.recent_books_header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
}




.book_link_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
}



.each_book_link {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 1%;
  background-color: b;
  width: -moz-fit-content;
  width: fit-content;
  border: solid black .1px;
  border-radius: 10px;
  box-shadow: 8px 0px 8px gray;
}






.users_characters_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3%;
}




.users_characters_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1%;
}


.each_character_containter {
  display: flex;
  padding: 2%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: solid white .1px;
  box-sizing: content-box;
  border-radius: 20px;
}




.users_polls_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3%;
}



.users_polls_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}




.each_poll_containter {
  padding: 1%;
  box-sizing: border-box;
  border: solid white .1px;
  border-radius: 10px;
}
