

.nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding: 15px;
}



.nav li {
  padding: 8px;
}




.login {
  padding: 10px;
}




.signup {
  padding: 10px;
}
