/* @media all and (min-width: 960px) { */
  .nav {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 15%;
  }


  .log_in_wrap {
    display: flex;
    position: relative;
    width: 10%;
    padding: 5%;
    box-sizing: content-box;
    left: 40%;
  }

  .sign_in_wrap {
    display: flex;
    position: relative;
    width: 10%;
    padding: 5%;
    box-sizing: content-box;
    left: 40%;
  }

/* } */
