


.modal_background {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}



.modal_exit_button {
  font-size: 1.5rem;
}



.log_in_wrap {
  display: flex;
  position: relative;
  width: 10%;
  padding: 5%;
  box-sizing: content-box;
  left: 40%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sign_in_wrap {
  display: flex;
  position: relative;
  width: 10%;
  padding: 5%;
  box-sizing: content-box;
  left: 40%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*

.create_pub_char_form {
  display: flex;
  position: relative;
  width: 10%;
  padding: 5%;
  box-sizing: content-box;
  left: 40%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
} */
