





.main_box {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.048);
  left: 42%;
  border-radius: 25px;
  animation: glow 3s infinite;
  /* box-shadow: 30px 40px 224px black; */
  box-shadow: 0px 34px 800px black;

}



@keyframes glow {
  0%{
    /* box-shadow: 30px 40px 224px rgb(121, 78, 161); */
    box-shadow: 0px 34px 800px rgb(121, 78, 161);
  }
  50% {
    /* box-shadow: 30px 40px 224px black; */
    box-shadow: 0px 34px 800px black;
  }
  100% {
    /* box-shadow: 30px 40px 224px rgb(121, 78, 161); */
    box-shadow: 0px 34px 800px rgb(121, 78, 161);
  }
}






.card_view {
  display: block;
  position: relative;
  width: 100%;
  border: solid gold .1px;
  box-sizing: border-box;
  height: 100%;
}





.card_view img {
  height: 400px;
  width: 233px;
  object-fit: cover;
  object-position: 50% 33%;
}
