




.user_info_wrap {
  display: flex;
  position: relative;
  flex-flow: wrap;
  flex-direction: column;
}







.user_avatar {
  position: relative;
  display: flex;
  width: 20%;
}



.user_avatar img {
  display: flex;
  position: relative;
  left: 10%;
}




.user_text {
  position: relative;
  left: 2%;
}




.recent_books_header {
  display: flex;
  position: relative;
  left: 2%;
  box-sizing: border-box;
  padding: 2%;
}




.book_link_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
  left: 4%;
}



.each_book_link {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 1%;
  background-color: b;
  width: -moz-fit-content;
  width: fit-content;
  border: solid black .1px;
  border-radius: 10px;
  box-shadow: 8px 0px 8px gray;
}
