
.profile_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1%;
}



.user_info_wrap {
  display: flex;
  position: relative;
  flex-flow: wrap;
  flex-direction: column;
}







.user_avatar {
  position: relative;
  display: flex;
}



.user_avatar img {
  display: flex;
  position: relative;
  background-color: white;
  object-fit: contain;
  width: 200px;
  border-radius: 100px;
  margin: 10px;
}




.user_text {
  position: relative;
  left: 2%;
  border-radius: 10px;
}



.user_text li {
  color: white;
  padding: 10px;
}



.user_text li a {
  color: blue;
}






.user_buttons_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: cornflowerblue;
  width: 30%;
  padding: 1%;
  position: relative;
  left: 30%;
  border: solid white .1px;
  border-radius: 15px;
}






.update_user_button {
  padding: 1%;
}



.delete_user_button {
  padding: 1%;
}







.recent_books_header {
  display: flex;
  position: relative;
  left: 2%;
  box-sizing: border-box;
  padding: 2%;
  margin-top: 15px;
}




.book_link_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
  left: 4%;
}



.each_book_link {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
}



.each_book_link h3 {
  color: blue;
}



.each_book_link h3:hover {
  color: blue;
}



.recent_polls_header {
  display: flex;
  position: relative;
  left: 2%;
  box-sizing: border-box;
  padding: 2%;
  margin-top: 15px;
}








.poll_link_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
  left: 4%;
}



.each_poll_link {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  width: fit-content;
  border-radius: 15px;
}



.each_poll_link h3 {
  color: blue;
}



.each_poll_link h3:hover {
  color: blue;
}
