



.create_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}



.create_char_button {
  position: relative;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
}



.create_page_button {
  position: relative;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
}






.private_char_wrap {
  padding: 5%;
}




.pages_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 5%;
}
