



.characters_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}





.page_wrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}




.each_card {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 30px;
}



.each_img {
  position: relative;
  display: flex;
  box-sizing: border-box;
}




.each_detail:hover {
  opacity: 1%;
}





.create_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}



.each_detail_text {
  display: block;
  position: relative;
  padding: 5%;
  box-sizing: content-box;
  line-height: 1.5rem;
  top: 20%;
}



.users_character_button_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1%;
  box-sizing: content-box;
}



.each_button {
  display: flex;
  position: relative;
  width: 60px;
  justify-content: center;
  padding: 1%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}



.each_button svg {
  color: blue;
}
