

.specific_char_buttons_wrap {
    display: flex;
    background: cornflowerblue;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    padding: 1%;
    position: relative;
    border: solid white .1px;
    border-radius: 15px;
}

.specific_char_update_button {

}


.specific_char_delete_button {

}



.specific_char_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.specific_char_containter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3%;
}


.specific_char_username {
    padding: 5%;
}





.characters_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
}





.page_wrapper {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}




.each_card {
    position: relative;
    box-sizing: border-box;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 30px;
}


.each_img {
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: solid white 1.1px;
    border-radius: 30px;
}



.each_detail {
  /* display: flex;
  position: absolute;
  z-index: 1;
  bottom: 8%;
  right: 9%;
  background-color: tan;
  padding: 1%;
  box-sizing: border-box;
  width: 296px;
  height: 550px;
  border: solid black 1px;
  border-radius: 30px; */
}


.each_detail:hover {
  opacity: 1%;
}





.create_button {
  position: relative;
  left: 80%;
}

.each_detail_text {
  display: block;
  position: relative;
  padding: 5%;
  box-sizing: content-box;
  line-height: 1.5rem;
  top: 20%;
}



.users_character_button_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    height: 100%;
    padding: 1%;
    border: solid white .1px;
    box-sizing: content-box;
    border-radius: 15px;
    box-shadow: 0px 0px 13px rgb(121, 78, 161);
}



.each_button {
    display: flex;
    position: relative;
    width: 60px;
    justify-content: center;
    padding: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
