





.each_char_container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}






.each_char_button_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: cornflowerblue;
  border: solid white .1px;
  border-radius: 15px;  position: relative;
  right: 14%;
  padding: 1%;
  border-radius: 10px;
}



.each_char_delete_button {
  display: flex;
  position: relative;
  width: 60px;
  justify-content: center;
  padding: 1%;
}



.each_char_update_button {
  display: flex;
  position: relative;
  width: 60px;
  justify-content: center;
  padding: 1%;

}
